/* App Themes */
:root {
  --background: white;
  --text-primary: #121212;
  --text-secondary: #626060;
  --accent: black;
  --footer-bg: #070707;
  --footer-text: white;
  --discount-bg: black;
  --discount-text: white;
}

[data-theme='dark'] {
  --background: #121212;
  --text-primary: white;
  --text-secondary: #dbdbdb;
  --accent: white;
  --footer-bg: white;
  --footer-text: black;
  --discount-bg: white;
  --discount-text: black;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_container {
  max-width: 480px;
  margin-bottom: 0;
  margin: auto;
  min-height: calc(100vh - 59px);
}

.app {
  background-color: var(--background);
}

.toggleBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  top: 20px;
  right: 20px;
  position: relative;
}
